
@import "colors.css";

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
}

/* --- PANEL PRINCIPAL --- */
.control-center {
    background: mix(@cc-bg, #ffffff, 0.1);
    border: 1px solid  mix(@border-col, #ffffff, 0.3);
    border-radius: 8px;
    padding: 7px;
    margin: 0; 
    min-height: 10px; 
    box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.7);
}

scrollbar {
    background-color: transparent;
}

scrollbar slider {
    background: alpha(@text, 0); 
    border-radius: 10px;
    min-width: 4px; 
    min-height: 4px;
    margin: 0px;
    border: none;
}

scrollbar trough {
    background: transparent;
    border: none;
    min-width: 4px;
}

scrolledwindow {
    box-shadow: none;
}

.widget-notifications { 
    background: alpha(@widget-bg, 1);
    border-radius: 10px;
    border: 0px solid alpha(@border-col, 0.6); 
}

/* --- WIDGETS GENÉRICOS --- */

.widget-title {
    background: alpha(@widget-bg, 1);
    border-radius: 12px;
    margin: 3px 5px;
    padding: 8px;   
    border: 0px solid alpha(@border-col, 0.6);
}

.widget-title > button,
.widget-inhibitors > button {
    background: @accent;
    color: @accent-fg;
    border-radius: 10px;
}

.widget-dnd {
    background:  alpha(@widget-bg, 1);
    border-radius: 12px;
    margin: 3px 5px;
    padding: 8px;    
    border: 0px solid alpha(@border-col, 0.6);
}

.widget-dnd > switch {
    background: alpha(@text, 0.2);
    color: @text;
    border-radius: 10px;
    box-shadow: none;
}

.widget-dnd > switch:checked {
    background: @accent;
    color: @accent-fg;
}

/* --- NOTIFICACIONES --- */
.notification-row {
    outline: none;
    margin: 1px 1px; 
}

.notification {
    background: alpha(@widget-bg, 0.8);
    border-radius: 10px;
    margin: 9px 10px;
    border: 1px solid alpha(@border-col, 0.2);
    padding: 0px;
    box-shadow: none;
}

.notification.critical {
    border: 2px solid @accent;
}

.notification-content, .summary, .body {
    color: @text;
}

.time {
    color: @text-dim;
}

/* --- LABEL "NO NOTIFICATIONS" --- */

.blank-window {
    background: transparent;
}
