@import "colors.css";

* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
}

/* --- PANEL PRINCIPAL --- */
.control-center {
    background: mix(@cc-bg, #ffffff, 0.1);
    border: 3px solid @border-col;
    border-radius: 10px;
    padding: 10px;
    min-height: 10px; 
}

scrollbar {
    background-color: transparent;
}

scrollbar slider {
    background: alpha(@text, 0); 
    border-radius: 10px;
    min-width: 4px; 
    min-height: 4px;
    margin: 0px;
    border: none;
}

scrollbar trough {
    background: transparent;
    border: none;
    min-width: 4px;
}

scrolledwindow {
    box-shadow: none;
}

.widget-notifications { 
    background: @widget-bg;
    border-radius: 10px;
    border: 1px solid alpha(@border-col, 0); 
}

/* --- WIDGETS GENÉRICOS --- */

.widget-title {
    background: @widget-bg;
    border-radius: 12px;
    margin: 3px 5px;
    padding: 8px;   
    border: 1px solid alpha(@border-col, 0);
}

.widget-title > button,
.widget-inhibitors > button {
    background: @accent;
    color: @accent-fg;
    border-radius: 10px;
}

.widget-dnd {
    background: @widget-bg;
    border-radius: 12px;
    margin: 3px 5px;
    padding: 8px;    
    border: 1px solid alpha(@border-col, 0);
}

.widget-dnd > switch {
    background: alpha(@text, 0.2);
    color: @text;
    border-radius: 10px;
    box-shadow: none;
}

.widget-dnd > switch:checked {
    background: @accent;
    color: @accent-fg;
}

/* --- NOTIFICACIONES --- */
.notification-row {
    outline: none;
    margin: 2px 5px; 
}

.notification {
    background: @widget-bg;
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 8px;
    box-shadow: none;
}

.notification.critical {
    border: 2px solid @accent;
}

.notification-content, .summary, .body {
    color: @text;
}

.time {
    color: @text-dim;
}

/* --- LABEL "NO NOTIFICATIONS" --- */

.blank-window {
    background: transparent;
}
