/* Plantilla Matugen para Rofi - Consistencia con Waybar */

* {
    /* --- 1. FONDOS --- */
    background:     #1113188C;

    /* Coincide con: @define-color mb-container / mb-surface-variant */
    background-alt: #282a2fE6;

    /* --- 2. TEXTO --- */
    foreground:     #e2e2e9;

    /* --- 3. ACENTOS Y ESTADOS --- */
    selected:       #adc6ff4D;

    /* Coincide con: @define-color mb-secondary */
    active:         #bfc6dc66;

    /* Urgente */
    urgent:         #ffb4ab66;

    /* --- 4. BORDES (Simulación de tu MIX) --- */
    border-col:     #d8e2ff;
}
