/* Plantilla Matugen para Rofi - Consistencia con Waybar */

* {
    /* --- 1. FONDOS --- */
    background:     #0f15128C;

    /* Coincide con: @define-color mb-container / mb-surface-variant */
    background-alt: #252b29E6;

    /* --- 2. TEXTO --- */
    foreground:     #dee4df;

    /* --- 3. ACENTOS Y ESTADOS --- */
    selected:       #88d6bb4D;

    /* Coincide con: @define-color mb-secondary */
    active:         #b2ccc166;

    /* Urgente */
    urgent:         #ffb4ab66;

    /* --- 4. BORDES (Simulación de tu MIX) --- */
    border-col:     #a3f2d7;
}
