@import url('colors.css');
@import url('../../.cache/wal/colors-waybar.css');

/* --- General ---*/
*{
  font-family: "JetBrainsMono Nerd Font, monospace";
  font-size: 14px;
  min-height: 0px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
  transition: opacity 0.3s ease, margin-top 0.3s ease;
  opacity: 1;
}

window#waybar.hidden {
  opacity: 0;
  margin-top: -50px;
}

/* --- Left modules --- */
#custom-notifications {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-top: 4px;
    border-radius: 10px;
/*    border: solid 3px;
    border-color: mix(@mb-primary, #ffffff, 0.3);*/
    box-shadow: inset 0 -4px 1px mix(@mb-primary, #ffffff, 0.3);
    transition: background 0.3s ease;
	  border-radius: 11px;
    color: @mb-text-dim;
    background: alpha(@mb-surface-variant, 0.55);
}

#workspaces {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 1px;
/*    border-radius: 5px 20px 5px 20px;
    border: solid 3px;
    border-color: mix(@mb-primary, #ffffff, 0.3);*/
    box-shadow: inset 0 -4px 1px mix(@mb-primary, #ffffff, 0.3);
    transition: background 0.3s ease;
	  border-radius: 10px;
    color: @mb-text-dim;
    background: alpha(@mb-surface-variant, 0.55);
    transition: all 0.3s ease;
}

#workspaces button {
  padding: 0px;
  min-width: 20px;
  min-height: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background: alpha(@foreground, 0.4);
  border-radius: 50%;
  transition: all 0.1s ease;
}

#workspaces button.active {
  background: @foreground;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 13%;
}

#workspaces button:not(.empty) {
   box-shadow: inset 0 -6px alpha(@foreground, 0.8);
}

#workspaces button.urgent:not(.active) {
  border-radius: 13%;
}

#leftmodules {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-top: 4px;
/*    border-radius: 5px 20px 5px 20px;
    border: solid 3px;*/
/*    border-color: mix(@mb-primary, #ffffff, 0.3);*/
    box-shadow: inset 0 -4px 1px mix(@mb-primary, #ffffff, 0.3);
    transition: background 0.3s ease;
	  border-radius: 10px;
    color: @mb-text-dim;
    background: alpha(@mb-surface-variant, 0.55);
}

/* --- Center modules --- */
#clock {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 6px;
    padding-top: 4px;
    border-radius: 10px;
/*    border: solid 0px;
    border-color: mix(@mb-primary, #ffffff, 0.3);*/
    box-shadow: inset 0 -4px 1px mix(@mb-primary, #ffffff, 0.3);
    transition: background 0.3s ease;
    color: @mb-text-dim;
    background: alpha(@mb-surface-variant, 0.55);
}



/* --- Right modules --- */
#tray {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 4px;
/*    border-radius: 20px 5px 20px 5px;*/
/*    border: solid 3px;
    border-color:  mix(@mb-primary, #ffffff, 0.3);*/
    border-radius: 10px;
    box-shadow: inset 0 -4px 1px mix(@mb-primary, #ffffff, 0.3);
    transition: background 0.3s ease, border-radius 0.3s ease;
    color: @mb-text-dim;
    background: alpha(@mb-surface-variant, 0.55);
}

#tray > .passive .active {
    background: @mb-text-dim;
    color: @mb-text-dim;
}

#taskbar {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 11px;
    border: solid 3px;
    border-color: alpha(@mb-primary, 0);
    transition: background 0.3s ease, border-radius 0.3s ease;
    color: #ffffff;
    background: alpha(@mb-background, 0.4);
}

#taskbar button {
  background: alpha(@mb-background, 0.07);
  padding: 3;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#taskbar button.active {
  box-shadow: inset 0 -3px 0 0 mix(@mb-primary, #ffffff, 0.3);
}

#taskbar.empty {
  background: transparent; 
}

#network {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px 5px 20px 5px;
    border: solid 3px;
    border-color: mix(@mb-primary, #ffffff, 0.3);
    transition: background 0.3s ease,
	  border-radius 0.3s ease;
    color: #ffffff;
    background: @mb-background;
}

#cpu, #memory, #temperature {
  background: transparent;
  margin-left: 4px;
  margin-right: 4px;
}

#system {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 6px;
    padding-top: 4px;
/*    border-radius: 20px 5px 20px 5px;
    border: solid 3px;
    border-color: mix(@mb-primary, #ffffff, 0.3);*/
    transition: background 0.3s ease;
	  border-radius: 10px;
    box-shadow: inset 0 -4px 1px mix(@mb-primary, #ffffff, 0.3);
    color: @mb-text-dim;
    background: alpha(@mb-surface-variant, 0.55);
}

#custom-power {
    padding-left: 15px;
    padding-right: 17px;
    padding-bottom: 6px;
    padding-top: 4px;
/*    border-radius: 20px 5px 20px 5px;
    border: solid 3px;
    border-color: mix(@mb-primary, #ffffff, 0.3);*/
    transition: background 0.3s ease;
	  border-radius: 10px;
    box-shadow: inset 0 -4px 1px mix(@mb-primary, #ffffff, 0.3);
    color: @mb-text-dim;
    background: alpha(@mb-surface-variant, 0.55);
}



