@import url('../../../.cache/wal/colors-waybar.css');

.activate {
  background: rgba(255, 255, 255, 0.005);
  border-radius: 10px;
  font-size: 20px;
  font-family: "Rockybilly";
  color: white;
  padding: 0px 0px 0px 0px; 
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.audio {
  background: alpha(@background, 0.5);
  border-radius: 8px;
  box-shadow:
    inset 0 4px @foreground,
    inset 0 -4px @foreground,
    inset 2px 0 @foreground,
    inset -2px 0 @foreground;
}

.audio-wid{
background: none;
}

.cover-art {
  border-radius: 10px;
  background: alpha(@foreground, 0.5);
  margin: 15px 0px 0px 20px;
  border: solid 0px @foreground;
  box-shadow:
    inset 0 4px @foreground,
    inset 0 -4px @foreground;
  padding: 8px 6px 8px 6px;
}

.controls {
 background: none;
 border: none;
 margin: 0px 0px 0px 27px;
}

.controls button {
 background: alpha(@foreground, 0.15);
 color: rgba(255, 255, 255, 1);
 border: none;
 box-shadow:
  inset 0 4px @foreground, 
  inset 0 -4px @foreground;
 padding: 0 5px;
 margin: 0 0;
 margin-bottom: 0px;

}

.info-song {
 margin: 15px 0px 0px 0px;
 border: solid 0px white;
 font-family: "Fira Sans Semibold";
 font-size: 15px;
 text-shadow: 2px 2px 4px @foreground;
 box-shadow:
  inset 3px 0px @foreground,
  inset -3px 0px @foreground;
 border-radius: 8px;
 padding: 0px 10px;
 background-color: alpha(@foreground, 0.15);
}

.time{
 border: solid 0px;
 margin-left: 28px;
 margin-right: 10px;
 font-size: 13px;
 font-family: "Hack Nerd Font";
 text-shadow: 2px 2px 4px @foreground;
}


